@mixin blue-elipse($left:0,$top:0){
    position: absolute;
    width: 400px;
    height: 400px;
    left: $left;
    top: $top;
    background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
}

@mixin red-elipse($left:0,$top:0){
    position: absolute;
    width: 400px;
    height: 400px;
    left: $left;
    top: $top;
    background: radial-gradient(50% 50% at 50% 50%, rgba(191, 53, 142, 0.5) 0%, rgba(191, 53, 142, 0) 100%);
}