$body-background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
$button-colors: #42E2B8;
$black-bg: #0F0A0A;
$opinion-bg: rgba(255, 255, 255, 0.2);
$phone-bg: #E7E7E7;
$gradient: linear-gradient(360deg, #EBEBEB 0%, #C8C8C8 100%);